.video {
  z-index: -1;
}

.w100h100 {
  width: 100%;
  height: 100%;
  position: absolute;
}

.flex {
  display: flex;
}
.flexColumn {
  display: flex;
  flex-direction: column;
}
.flexCenter {
  justify-content: center;
  align-items: center;
}

.wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.wrapImg {
  /* background-image: url("/Sand.gif"); */
  background-size: cover;
}

.contents {
  z-index: 3;
}

.sign {
  width: 20%;
  height: 60%;
  border-radius: 0.8em;
  background-color: white;
  display: flex;
}
.shawdow {
  box-shadow: 0px 0px 10px 0px #cfd8dc;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .title {
    font-size: 5em;
    line-height: 1.2em;
  }
  .wrapImg {
    background-position: center;
  }
  .exp {
    font-family: "NotoSansKR";
    font-weight: 300;
    font-size: 0.8em;
  }
  .halfOpacity {
    background-color: rgba(255, 255, 255, 0.6);
  }
  .video {
    display: none;
  }
  .w100h100 {
    height: 100%;
  }
  .wrapper {
    height: 100%;
  }
}

@media (max-width: 767px) {
  .title {
    font-size: 5em;
    line-height: 1.2em;
  }
  .wrapImg {
    background-position: center;
  }
  .exp {
    font-family: "NotoSansKR";
    font-weight: 300;
    font-size: 0.8em;
  }
  .halfOpacity {
    background-color: rgba(255, 255, 255, 0.6);
  }
  .video {
    display: none;
  }
  .w100h100 {
    height: 100%;
  }
  .wrapper {
    height: 100%;
  }
}
