.FlolTitle {
  font-family: "NotoSansKR";
  font-weight: 500;
  font-size: 4em;
  color: black;
  line-height: 100%;
}
.FlolTitleSub {
  font-family: "NotoSansKR";
  font-weight: 400;
  font-size: 1em;
}

.FlolBg {
  background-color: #fbe9e7;
}
.FlolTop {
  width: 100%;
  height: 20%;
}

.FlolMiddle {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 60%;
  padding: 0% 10%;
  box-sizing: border-box;
}
.FlolInfo {
  width: 100%;
  height: 50%;
  display: flex;
}

.Flolytb {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
  font-family: "NotoSansKR";
  font-size: 2em;
  font-weight: 500;
}
.PrjYtb {
  width: 100%;
  height: 100%;
}
.ProjectInfo {
  font-family: "NotoSansKR";
  font-weight: 200;
  width: 60%;
  height: 100%;
  margin-left: 2em;
  box-sizing: content-box;
}
.PrjName {
  margin-bottom: 1.5em;
}
.PrjName span {
  font-weight: 500;
}
.PrjButton span {
  font-family: "NotoSansKR";
  font-weight: 400;
}
.PrjButton button {
  margin: 0em 1em;
}

.FlolHr {
  border-bottom: 1px solid lightgray;
  width: 100%;
  margin: 3% 0% 1% 0%;
}

.FlolPictureWrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.SoscikPictureTitle {
  font-family: "NotoSansKR";
  width: 100%;
  text-align: center;
  font-size: 2em;
}
.FlolPictures {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.FlolPicture {
  width: 24%;
  margin: 1% 3%;
  transition: 0.5s;
  border-radius: 1em;
}
.FlolPicture:hover {
  transform: scale(1.7);
}

.FlolBottom {
  width: 100%;
  position: absolute;
  bottom: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.FlolBottom span {
  font-family: "NotoSansKR";
  font-size: 0.9em;
}
.BottomIcons {
  display: flex;
  margin-top: 0.5em;
}
.BottomIcons div {
  margin: 0em 0.5em;
}

.linkIcon {
  width: 100%;
  text-align: center;
}
.linkIcon a {
  color: black;
  margin: 0% 1%;
}
.ProjectMobileInfo {
  display: none;
}

@media all and (max-width: 768px) {
  .FlolMiddle {
    padding: 0%;
  }
  .FlolInfo {
    flex-direction: column;
  }
  .Flolytb {
    width: 100%;
    padding: 10% 0%;
  }
  .ProjectInfo {
    display: none;
  }
  .FlolHr {
    display: none;
  }
  .FlolPictureWrapper {
    display: none;
  }
  .PrjName {
    margin-bottom: 0em;
    font-weight: 200;
  }

  .ProjectMobileInfo {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: "NotoSansKR";
  }

  .PrjName a {
    font-size: 1.2em;
  }
  .PrjName span {
    font-weight: 500;
    font-size: 1.5em;
  }
  .PrjButton span {
    font-weight: 500;
  }
  .subPadding {
    padding: 0% 2%;
  }

  .PrjButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .PrjButton button {
    margin-top: 1em;
  }
  .FlolBottom {
    display: none;
  }
}
