.MyInfoTitle {
  font-family: "NotoSansKR";
  font-weight: 500;
  font-size: 3em;
  color: white;
}

.ProfileCenter {
  justify-content: flex-start;
  align-items: center;
}
.ProfileTop {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.ProfileHr {
  width: 100%;
  margin: 1em 0em;
  border: 1px solid black;
}
.ProfileImg {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  background-image: url(/myProfile.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  margin-bottom: 1em;
}
.ProfileName {
  font-weight: 500;
  font-size: 3em;
}
.ProfileSubInfo {
  font-weight: 300;
  font-size: 0.8em;
  color: rgba(0, 0, 0, 0.2));
}
.ProfileMiddle {
  margin-top: 1.5%;
  width: 50%;
  display: flex;
}
.MiddleBlockTitle {
  text-align: center;
  font-size: 2em;
}
.MiddleBlock {
  border-radius: 2em;
  padding: 3%;
  margin: 0% 1%;
  width: 48%;
  background-color: white;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.MiddleBlock:hover {
  box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.2);
  transform: translateY(-7px);
}
.MiddleBlockContents {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bgColor {
  background-color: #fdd692;
}

.MyInfoTop {
  width: 100%;
  height: 15%;
}
.middleBottom {
  font-family: "NotoSansKR";
  width: 100%;
  height: 50%;
}

.ProfileBottoms {
  width: 100%;
  position: absolute;
  bottom: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ProfileBottoms div {
  margin: 0em 0.5em;
}

.linkIcon {
  width: 100%;
  text-align: center;
}
.linkIcon a {
  color: black;
  margin: 0% 1%;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .MyInfoTop {
    display: none;
  }
  .middleBottom {
    font-family: "NotoSansKR";
    width: 100%;
    height: auto;
  }
  .linkIcon a {
    color: black;
    margin: 0% 10%;
    font-size: 1em;
  }
  .ProfileHr {
    border: 0.5px solid black;
  }

  .ProfileName {
    font-size: 2em;
  }
  .middleBottom {
    margin-top: 2.5em;
  }
  

  .ProfileImg {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background-image: url(/myProfile.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    margin-bottom: 1em;
  }

  .ProfileMiddle {
    width: 70%;
    display: flex;
    margin-top: 1%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .MiddleBlock {
    border-radius: 2em;
    padding: 4%;
    margin: 5% 0%;
    width: 80%;
    background-color: white;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
  }
  .MiddleBlockTitle {
    font-size: 1.5em;
    line-height: 1em;
  }
  .MiddleBlockContents {
    font-weight: 300;
    font-size: 1em;
  }
  .ProfileBottoms {
    display: flex;
  }
  .ProfileBottoms div {
    margin: 0em 0.1em;
  }
}

@media (max-width: 768px) {
  .MyInfoTop {
    display: none;
  }
  .middleBottom {
    margin-top: 0em;
  }
  .linkIcon a {
    color: black;
    margin: 0% 5%;
    font-size: 0.7em;
  }
  .ProfileHr {
    border: 0.5px solid black;
  }

  .ProfileName {
    font-size: 2em;
  }
  .middleBottom {
    margin-top: 2.5em;
  }

  .ProfileMiddle {
    width: 100%;
    display: flex;
    margin-top: 5%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .MiddleBlock {
    border-radius: 2em;
    padding: 3%;
    margin: 5% 0%;
    width: 80%;
    background-color: white;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
  }
  .MiddleBlockTitle {
    font-size: 1.5em;
  }
  .MiddleBlockContents {
    font-size: 0.75em;
  }

  .ProfileImg {
    width: 100px;
    height: 100px;
    margin-bottom: 0.5em;
  }
  .ProfileBottoms {
    display: none;
  }
}
